# local / generated
node_modules/
*.tar.gz
*.tgz
*.log

# image gallery
images/
**/.thumbs/
node_modules/
node-standalone.log
node-standalone.pid
image_gallery_code.tar.gz
zz-image-gallery_*.tar.gz

# backups
image_gallery_split_backup_*/
_rollback/

# misc
.DS_Store
